{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<!-- 修改 全局字体/代码字体 -->
<!-- 参考链接: https://kyxie.github.io/zh/blog/tech/papermod/#%e4%bf%ae%e6%94%b9%e5%85%a8%e5%b1%80%e5%ad%97%e4%bd%93 -->
<link href="https://fonts.cdnfonts.com/css/jetbrains-mono-2" rel="stylesheet">
{{- /* Head custom content area end */ -}}
